<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/app.css" type="text/css"/>
        <title>todo list</title>
    </head>
    <body>
        <header>
            <h1>todo<span>list</span></h1>
            <h2>
            	A simple todo list api built with node and express
            </h2>
        </header>
        <section class="form">
            <input type="text" id="todoInput" placeholder="what do you want to do?">
        </section>
        <ul class="list"></ul>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
    </body>
</html>